.container{
    width: 100%;
    height: 700px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: start;
}

.containerHero{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    height: 600px;
    margin-top: 10px;
}

.titletag{
    font-family: 'NeuroMedium';
    font-size: 80px;
    color: var(--vasto-sandlight);
    line-height: 100px;
}

.paragraphtag{
    font-family: 'MyriadPro';
    font-size: 20px;
    color: var(--vasto-sandlight);
}

@media (min-width: 350px) and (max-width: 480px){
    .titletag{
        font-size: 55px;
        line-height: 85px;
        padding-top: 20px;
    }
    .paragraphtag{
        font-size: 16px;
        width: 300px;
    }
    .containerHero{
        gap: 30px;
    }

}