.containerParagraph{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vasto-white);
}

.paragraph{
    width: 50%;
    font-family: 'DentonCondensed';
    font-size: 55px;
    text-align: center;
    color: var(--vasto-sand);
}

.containerTitle{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NeuroMedium';
    font-size: 38px;
    color: var(--vasto-greenfield);
    background-color: var(--vasto-white);
}


