.container{
    width: 100%;
    background-color: var(--vasto-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTitle {
    font-family: 'NeuroMedium';
    font-size: 52px;
/*     font-weight: 800;
 */    color: var(--vasto-greenfield);
/*     opacity: 85%;
 */}

.containerCards{
    width: 100%;
    margin: 75px 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.containerCard{
    width: 350px;
    height: 300px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--vasto-sand);
    border-radius: 10px;
    box-shadow: -1px 1px 1px var(--vasto-sand), 1px -1px 1px var(--vasto-sand) ;
}

.containerTitleCard{
    font-family: 'NeuroMedium';
    text-align: center;
    font-size: 28px;
/*     text-decoration: underline var(--vasto-greenfield);*/
    line-height: 32px;
}

.containerText{
    font-family: 'MyriadPro';
    font-size: 18px;
    color: var(--vasto-brownland);
    text-align: center;
}

.image{
    margin: 0 auto;
}