.container{
    width: 100%;
    background-color: var(--vasto-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTitle {
    margin: 20px 0 0 0 ;
    font-family: 'NeuroMedium';
    font-size: 60px;
    color: var(--vasto-greenfield);
}

.containerCards{
    width: 100%;
    margin: 50px 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.containerCard{
    width: 350px;
    height: 300px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start ;
    gap: 18px;
    /* background-color: var(--vasto-sandlight); */
    border: 3px solid var(--vasto-greenfield);
    border-radius: 50px;
    box-shadow: -1px 1px 1px var(--vasto-sand), 1px -1px 1px var(--vasto-sand) ;
}

.containerTitleCard{
    font-family: 'NeuroMedium';
    text-align: start;
    font-size: 24px;
    text-decoration: underline var(--vasto-sand);
    line-height: 32px;
}

.containerText{
    font-family: 'MyriadPro';
    font-size: 18px;
    color: var(--vasto-brownland);
    text-align: start;
}

.image{
    margin: 0 auto;
    opacity: 90%;
}