.container{
    width: 100%;
    height: 800px;
    background-color: var(--vasto-greenfield);
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.containerTitle{
    margin-bottom: 50px;
    margin-top: 50px
}

.title{
    font-family: "Vilaage", normal;
    font-weight: 500;
    font-size: 60px;
    color: var(--vasto-sandlight);
    text-align: center;
}

.pharagraph{
    font-family: 'MyriadPro', normal;
    font-weight: 200;
    font-size: 20px;
    color: var(--vasto-sandlight);
    text-align: center;
}

.button{
    font-family: "vilaage", normal;
    color: var(--vasto-sandlight);
    width: 200px;
    height: 60px;
    border: 2px solid var(--vasto-sandlight);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-size: 20px;
}
.button:hover {
    background-color: var(--vasto-sandlight); /* Nuevo color al hacer hover */
    transform: scale(1); /* Efecto de crecimiento leve */
    color: var(--vasto-greenfield);
}
.containerButton{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.containerInputsForm{
    display: grid;
   grid-template-columns: repeat(3, 1fr); /* Dos columnas del mismo tamaño */
   gap: 16px;/* Espacio entre los inputs */
   margin: auto; /* Centrar si es necesario */
}

@media (min-width: 350px) and (max-width: 480px) {
    .container{
        height: 900px;
    }
    .title{
        font-size: 32px;
    }
    .pharagraph{
        font-size: 14px;
    }
    .button{
        font-size: 16px;
        width: 150px;
        height: 50px;
        /* color: var(--vasto-sand); */
    }
    .containerButton{
        align-items: center;
        justify-content: center;
    }
}


