.container{
    width: 90%;
    height: 70px;
    padding: 20px 48px;
    background-color: var(--vasto-greenfield);
    border: 2px solid var(--vasto-sandlight);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(97, 97, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    margin: auto;
    top: 20px;
}

.containerLinks{
    width: 404px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: var(--vasto-sandlight);
    font-family: 'MyriadPro';
    font-size: 16px;
}

.button{
    padding: 12px 14px;
    width: 153px;
    background-color: var(--vasto-sandlight);
    color: var(--vasto-greenfield);
    border-radius: 15px;
    box-shadow: 1px 1px 3px black;
    font-family: 'NeuroMedium';

    position: relative;
    top: 0;
    transition: all 200ms ease-in-out;
}

.button:hover{
    top: 0.1em;
    box-shadow: 0 0;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.img{
    cursor: pointer;
}

.link{
    padding: 10px;
    margin-right: 15px;
    font-size: 17px;
    font-weight: lighter;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.link::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #E0E0B9;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    background: #E0E0B9;
    transform-origin: 0% 50%;
}

.link:hover::before {
    transform: scale3d(1,1,1);
}

@media (min-width: 350px) and (max-width: 480px) {
    .container{
        padding: 10px 5px;
    }
    .containerLinks {
        font-size: 14px;
        gap: 5px;
    }
    .containerButton{
        width: 100px;
        height: 50px;
        font-size: 12px;
        text-align: center;
        padding: 2px;
    }
}